In [16]:
import numpy as np
import math
from scipy import stats
#uniform random numbers in [0,1]
dataOne=random.rand(5,5)
np.mean(dataOne)

0.5423870569323763

In [18]:
variableName1 = 'I Love data Science'
print(variableName1)
type(variableName1)

I Love data Science

str

In [19]:
varOne = 25
varTwo = 25.0
varThree = varOne + varTwo
print(varThree)

50.0

In [10]:
import pandas as pd
credit = pd.io.parsers.read_csv("default of credit card clients.csv")
X = credit[['X1']]
print(X)

              X1
0      LIMIT_BAL
1          20000
2         120000
3          90000
4          50000
...          ...
29996     220000
29997     150000
29998      30000
29999      80000
30000      50000

[30001 rows x 1 columns]

In [7]:
listOne = [1,2,3,4]
print(listOne[1:3])

[2, 3]

In [8]:
tel = {'jack': 4098, 'sape': 4139}
tel['jack']

4098

#Was it straightforward to install Python and all of the libraries? yes with anaconda
#Was the tutorial useful? Would you recommend it to others? yes
#What are the main lessons you've learned from this experience? 
1. Installing packages with anaconda
2. Loading examples from the web. For example, %load https://matplotlib.org/_downloads/pyplot_text.py.
3. Publishing Jupyter Notebooks in a github public project